<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{% block title %}{% endblock %}Тяньши, Государственная программа, интернет магазин, Здоровое питание-здоровье
        нации</title>
    <meta charset="utf-8">
    <meta name="author" content="Barsik">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css">
    <!-- http://livedemo00.template-help.com/wt_40504/css/style.css -->
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/menu/reset.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/menu/style.css">
    <style type="text/css">
        img.logo {
            float: left;
            height: 100px;
            width: 100px;
        }

        .note {
            font-size: 10px;
            width: 50%;
            font-family: Arial, Helvetica, sans-serif;
        }
    </style>
    {% block style_addon %}
    {% endblock %}
    <!--[if lt IE 8]>
    <div style=' clear: both; text-align:center; position: relative;'>
        <a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode">
            <img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0"
                 height="42" width="820"
                 alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."/>
        </a>
    </div>
    <![endif]-->
    <!--[if lt IE 9]>
    <script src="js/html5.js"></script>
    <link rel="stylesheet" href="css/ie.css">
    <![endif]-->
</head>
<body>
{% block pre_header %}
{% endblock %}
<!--=====================================
                Top Fixed Navigation Menu BEGIN
        ======================================-->
<div id="menu_div">
    <div id="navigation">
        <div id="menu">
            <ul id="nav">

                <div id="advanced" style="margin-top: 0px;">


                    <div class="bg_pro " style='position: fixed;'>
                        <div class="pro_main"><img style="height: 30px; float: left;"
                                                   src="{{ STATIC_URL }}img/base/tianshi_word.jpg"
                                                   alt="TIENS">
                            <ul class="pro_menu sf-js-enabled">


                                <li><a href="/"><img src="{{ STATIC_URL }}img/Home_files/pro_home.png" alt=""></a>
                                </li>

                                <li><a href="/shop/products">Каталог продукции</a></li>
                                <li><a href="/shop/cart">Сделать заказ</a></li>
                                <li><a data-toggle="modal" href="#myModal">Контактные данные</a></li>
                                {% block btn_group %}
                                <div class="btn-group offset8">

                                    <a href="/shop/cart/"><img src="{{ STATIC_URL }}img/base/basket_white.png"
                                                               alt="basket_white"></a>
                                    <button class="btn dropdown-toggle" data-toggle="dropdown">
                                        <span class="caret"></span>
                                    </button>
                                    <div class="dropdown-menu pull-right basket_item">
                                        <link rel="stylesheet" href="{{ STATIC_URL }}css/basket.css">
                                        {% load shop_tags %}
                                        {% cart %}


                                    </div>

                                </div>
                                {% endblock %}

                            </ul>
                        </div>
                    </div>

                </div>
            </ul>

        </div>
        <!-- #menu END-->
    </div>
    <!-- #navigation END-->
</div>
<!-- #menu_div END-->
<!--=====================================
        /Top Fixed Navigation Menu END
======================================-->

<div class="container " id="top_page">
    <div class="header" style="margin-top: 60px;">
        <!-- Header -->
        <header>
            <div class="inner span12" style="height:50px">
                <a href="/"><img class="logo" src="{{ STATIC_URL }}img/base/tianshi_logo.gif" alt="Tiens"></a>
                <nav>
                    <ul class="sf-menu sf-js-enabled">
                        <li class="current"><a href="{{ STATIC_URL }}img/Home_files/Home.htm">home</a></li>
                        <li><a href="/why">Почему Тяньши</a></li>
                        <li><a href="/vopros-otvet">Вопросы-ответы</a></li>
                        <li><a data-toggle="modal" href="/about">О компании</a></li>
                    </ul>
                </nav>
                <div class="clear"></div>
            </div>
        </header>

    </div>
    <!-- Content -->
    {% block content %}
        <br><br><br>
        <div class="well">
            {% block content_well %}
            {% endblock %}
            <a href="#top_page" ><i class="icon-chevron-up hidden-phone"></i> Вверх</a>
        </div>

    {% endblock %}

    <!-- Footer -->
    {% block footer %}

        <footer>

            <div class="inner">


                <div class="row-fluid">
                    <article class="offset1 span3" style="float: left;">
                        <h4>Для тех кто хочет <br>зарабатывать</h4>
                        © 2012 | <a href="/make-money" style="color: #006dcc;">Сюда</a>
                    </article>

                    <article class="span3">
                        <h4>Для тех кто думает как приумножить деньги</h4>
                        © 2012 | <a href="#" style="color: #006dcc;">Сюда</a>
                    </article>

                    <article class=" span3" style="margin-right: 40px;">
                        <br>
                        <ul class="social-list">
                            <li><a href="http://livedemo00.template-help.com/wt_40504/index.html#"><img
                                    src="{{ STATIC_URL }}img/Home_files/social-icon-1.png" alt=""></a></li>
                            <li><a href="http://livedemo00.template-help.com/wt_40504/index.html#"><img
                                    src="{{ STATIC_URL }}img/Home_files/social-icon-2.png" alt=""></a></li>
                            <li><a href="http://livedemo00.template-help.com/wt_40504/index.html#"><img
                                    src="{{ STATIC_URL }}img/Home_files/social-icon-3.png" alt=""></a></li>
                            <li><a href="http://livedemo00.template-help.com/wt_40504/index.html#"><img
                                    src="{{ STATIC_URL }}img/base/vk-logo.bmp" alt=""></a></li>
                        </ul>
                    </article>
                    <div class="offset1 span7 note">Материалы сайта частично взяты с
                        официального сайта <a href="http://ru.tiens.com/" target="_blank"
                                              rel="nofollow">ru.tiens.com</a>.
                    </div>
                </div>
            </div>
        </footer>

    {% endblock %}
</div>
<!-- Contacts -->
<div id="myModal" class="modal hide fade span12"
     style="z-index:2000; color: #f1f1f1; background-image: url('{{ STATIC_URL }}img/base/contact_bk.jpg'); ">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h3>Контактные данные</h3>
    </div>
    <div class="modal-body">
        <div class="span12">
            <div class="pull-left">
                <h2>Телефон</h2>

                <p>8 (917) <b>234-66-22</b><br> 8 (917) <b>123-33-44</b></p>
            </div>
            <div class="offset3">
                <h2>Адресс</h2>

                <p>г.Казань, ул. Саид-Галеева<br>, д.6, 5 этаж, офис 514</p>
            </div>
        </div>
        <br>

        <p><span style="padding: 0px 10px;">&nbsp;</span>бла бла</p>
        <img src="{{ STATIC_URL }}img/base/tianshi_logo.gif" alt="Центр города">
        <a href="http://maps.yandex.ru/?um=&ll=49.100132%2C55.791075&spn=0.016286%2C0.005398&z=17&l=map"><u
                style="color: #004ab3;">Карта</u></a>

    </div>

    <div class="modal-footer">
        <br>
        <a href="#" class="btn" data-dismiss="modal">Закрыть</a>
    </div>
</div>


<script src="{{ STATIC_URL }}js/jquery.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.js"></script>
{% block script_addon %}
{% endblock %}
</body>
</html>