{% extends "base.html" %}

{% block style_addon %}
    <link rel="stylesheet" type="text/css"
          href="{{ STATIC_URL }}js/ParallaxContentSlider/ParallaxContentSlider/css/style.css"/>
{% endblock %}
{% block script_addon %}
    <!--<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>-->
    <script type="text/javascript"
            src="{{ STATIC_URL }}js/ParallaxContentSlider/ParallaxContentSlider/js/modernizr.custom.28468.js"></script>
    <script type="text/javascript"
            src="{{ STATIC_URL }}js/ParallaxContentSlider/ParallaxContentSlider/js/jquery.cslider.js"></script>
    <script type="text/javascript">
        $(function () {

            $('#da-slider').cslider({
                autoplay:true,
                bgincrement:450
            });

        });
    </script>
{% endblock %}
{% block content %}

    <div id="da-slider" class="da-slider">
        <div class="da-slide">
            <h2>Tianshi on-line</h2>

            <p>On-Line Интернет магазин <br> мы вам очень рады</p>
            <a href="/shop/products" class="da-link">Продукция</a>

            <div class="da-img"><img src="{{ STATIC_URL }}js/ParallaxContentSlider/ParallaxContentSlider/images/1.png"
                                     alt="image01"/></div>
        </div>
        <div class="da-slide">
            <h2>БАДЫ</h2>

            <p style="color: #ff4500;">БАДы корпорации “Тяньши”<br>Прекрасная замена аптечной химии!</p>

            <a href="/why" class="da-link">Подробнее</a>

            <div class="da-img"><img src="{{ STATIC_URL }}img/base/multy_saver1.jpg" alt="image01"/></div>
        </div>
        <div class="da-slide">
            <h2>Эволюция</h2>

            <p style="color: #00ba08;">Сильный, быстрый, безопасный, ну просто замечательный препарат, без побочных эффектов.</p>
            <a href="#" class="da-link">Подробнее</a>

            <div class="da-img"><img src="{{ STATIC_URL }}img/base/wow.png" alt="image01"/></div>
        </div>
        <div class="da-slide">
            <h2>Очень просто</h2>

            <p style="color: red;">Пищевая добавка, возвращающая к жизни!.</p>
            <a href="#" class="da-link">Перейти</a>

            <div class="da-img"><img src="{{ STATIC_URL }}img/base/happy.jpg" alt="image01"/></div>
        </div>
        <!--<nav class="da-arrows">-->
        <!--<span class="da-arrows-prev"></span>-->
        <!--<span class="da-arrows-next"></span>-->
        <!--</nav>-->
    </div>
    <!--<section id="content">-->
    <!--<div class="mp-slider">-->
    <!--<ul class="mp-items" >-->
    <!--<li style="display: none; ">-->
    <!--<img src="{{ STATIC_URL }}img/base/multy_saver.gif"  alt="">-->
    <!--</li>-->
    <!--<li style="display: none; ">-->
    <!--<img src="{{ STATIC_URL }}img/base/tree.jpg"  alt="tree">-->
    <!--<div class="mp-banner" style="color: #DE0202;">-->
    <!--<strong >БАД</strong>-->
    <!--<span>БАДы корпорации “Тяньши”</span>-->
    <!--<a href="http://livedemo00.template-help.com/wt_40504/more.html" class="slider-button">Подробнее</a>-->
    <!--</div>-->
    <!--</li>-->
    <!--<li style="display: none; ">-->
    <!--<img src="{{ STATIC_URL }}img/base/happy.jpg"  alt="happy">-->
    <!--<div class="mp-banner" style="color: #23B000;">-->
    <!--<strong>Мы поможем</strong>-->
    <!--<span>  восстановить  сохранить <br> преумножить <br> Ваше здоровье</span>-->
    <!--<a href="http://livedemo00.template-help.com/wt_40504/more.html" class="slider-button">Подробнее</a>-->
    <!--</div>-->
    <!--</li>-->
    <!--</ul>-->
    <!--<div class="pic">-->
    <!--<div class="mp-banner"></div>-->
    <!--</div>-->


    <!--</div>-->
    <!--</section>-->
{% endblock %}