{% extends "base.html" %}

{% block style_addon %}
    <link rel="stylesheet" type="text/css"
          href="{{ STATIC_URL }}js/ParallaxContentSlider/ParallaxContentSlider/css/style.css"/>
{% endblock %}
{% block script_addon %}
    <!--<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>-->
    <script type="text/javascript"
            src="{{ STATIC_URL }}js/ParallaxContentSlider/ParallaxContentSlider/js/modernizr.custom.28468.js"></script>
    <script type="text/javascript"
            src="{{ STATIC_URL }}js/ParallaxContentSlider/ParallaxContentSlider/js/jquery.cslider.js"></script>
    <script type="text/javascript">
        $(function () {

            $('#da-slider').cslider({
                autoplay:true,
                bgincrement:450
            });

        });
    </script>
{% endblock %}
{% block btn_group %}
    <li><a href="/shop/cart/"><img src="{{ STATIC_URL }}img/base/basket_white.png"
                                   alt="basket_white"></a></li>
{% endblock %}
{% block content %}

    <div id="da-slider" class="da-slider">
        <div class="da-slide">
            <h2>Tianshi on-line</h2>

            <p>On-Line Интернет магазин</p>
            <a href="/shop/products" class="da-link">Продукция</a>

            <div class="da-img"><img src="{{ STATIC_URL }}js/ParallaxContentSlider/ParallaxContentSlider/images/1.png"
                                     alt="image01"/></div>
        </div>
        <div class="da-slide">
            <h2>БАДЫ</h2>

            <p style="color: #ff4500;">БАДы корпорации “Тяньши”<br>Прекрасная замена аптечной химии!</p>

            <a href="/why" class="da-link">Подробнее</a>

            <div class="da-img"><img src="{{ STATIC_URL }}img/base/multy_saver1.jpg" alt="saver1"/></div>
        </div>
        <div class="da-slide">
            <h2>Эволюция</h2>

            <p style="color: #00ba08;">Сильный, быстрый, безопасный, ну просто замечательный препарат, без побочных эффектов.</p>
            <a href="#" class="da-link">Подробнее</a>

            <div class="da-img"><img src="{{ STATIC_URL }}img/base/wow.png" alt="wow"/></div>
        </div>
        <div class="da-slide">
            <h2>Очень просто</h2>

            <p style="color: red;">Пищевая добавка, возвращающая к жизни!.</p>
            <a href="#" class="da-link">Перейти</a>

            <div class="da-img"><img src="{{ STATIC_URL }}img/base/original.jpg" alt="happy"/></div>
        </div>
    </div>
{% endblock %}